@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter, sans-serif;
}


.sidebar {
  @apply w-0 overflow-hidden md:w-[250px] h-screen fixed left-0 top-0 bg-gray-800 transition-all duration-300;

  .title {
    @apply h-[70px] border-b border-[#C8CBD97F] flex justify-center items-center text-white font-semibold;
  }

  .menu {
    li {
      margin-bottom: 4px;
    }
    @apply py-8;
    .nav-menu {
      @apply uppercase pl-8 pr-2 py-2 text-xs text-gray-300;
    }
    .nav-link {
      @apply flex items-center gap-4 pl-8 pr-2 py-2.5 text-base text-gray-300 hover:text-gray-100 relative;
      &.active {
        @apply text-white;
      }
      &.has-arrow::after {
        content: '';
        @apply border-r border-b border-gray-300 w-1.5 h-1.5 absolute right-5 top-5 transform -rotate-45 transition-all duration-300 ease-in-out;
      }

      &.active.has-arrow::after {
        @apply rotate-45;
      }

    }
    .submenu {
      @apply max-h-0 overflow-hidden transition-all duration-300 ease-in-out;
      .nav-link {
        @apply pl-16 py-2 text-[15px];
      }

      li:last-child {
        .nav-link {
          @apply pb-4;
        }
      }

      &.active {
        @apply bg-gray-900;
      }
    }

  }

}

.header {
  @apply fixed left-0 md:left-[250px] top-0 right-0 h-[70px] border-b border-[#C8CBD97F] transition-all duration-300;
}

.content {
  @apply pt-[70px] md:pl-[250px] transition-all duration-300;
}


.ant-notification-notice-message {
  margin-bottom: 0!important;
}


.ant-form-item-label {
  label {
    @apply font-inter text-sm font-medium text-gray-700 #{!important};
  }

}



.ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional):before {
  display: none!important;
}

.ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional):after {
  display: inline-block;
  margin-left: 4px;
  margin-top: 2px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: Inter, sans-serif;
  line-height: 1;
  content: "*";
  visibility: visible;
}
.form-input {
    @apply font-inter block w-full outline-0 border border-gray-300 rounded-md shadow-sm focus:border-indigo-500 px-3 py-2;
}

.ant-form-item-explain-error {
    @apply font-inter text-xs text-red-500 my-1;
}